<div class="row pl-3 pr-3">
    <div class="col-12 bg-dark text-center">
        <span class="promoBarText">ENJOY FREE GROUND SHIPPING ON ALL ORDERS</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <img src="../../../assets/images/store_closing_covid_quarterly_hm_hero_v2.jpg" class="img-fluid w-100" />
    </div>
</div>

<div class="row">
    <div class="col-12 pt-2 pb-2">
        <img src="../../../assets/images/grad_hero.jpg" class="img-fluid w-100" />
    </div>
</div>

<app-img-slider></app-img-slider>
<app-advertisement></app-advertisement>

<div class="row">
    <div class="col-12 pt-2 pb-2">
        <img src="../../../assets/images/bartleby_learn_qa_980x430_11_19.png" class="img-fluid w-100" />
    </div>
</div>

<div class="row">
    <div class="col-12 py-2">
        <div class="row">
            <div class="col-md-4 col-sm-6 block-list">
                <a href="javascript:;"><span>APPAREL</span></a>
            </div>
            <div class="col-md-4 col-sm-6 block-list">
                <a href="javascript:;"><span>GIFTS & ACCESSORIES</span></a>
            </div>
            <div class="col-md-4 col-sm-6 block-list">
                <a href="javascript:;"><span>SEASONAL SALE</span></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 py-2">
        <div class="row">
            <div class="col-md-6 col-sm-12 sform-box">
                <div class="row bg-white">
                    <div class="col-12 mt-2">
                        <div class="sform-heading">SIGN UP & GET</div>
                        <div class="sform-offer">10% OFF ON SPIRIT GEAR</div>
                    </div>
                    <!-- <div class="col-12 mb-2">
                        
                    </div> -->

                    <div class="col-12">
                        <div class="sform-input">
                            <form>
                                <div class="form-group my-3">
                                    <input type="text" class="form-control" placeholder="Enter your Email*" />
                                </div>
                                <button type="submit" class="btn btn-white my-3">
                                    JOIN>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="sform-btext">
                            <p>
                                By providing your email address you agree to receive emails from your campus bookstore.
                                We do not share your email and you can unsubscribe at any time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="../../../assets/images/mobile_app_signup_485x350_11_19.png" class="img-fluid sform-ad" />
            </div>
        </div>
    </div>
</div>