<footer class="mainfooter" role="contentinfo">
    <div class="row bg-white">
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <nav aria-label="breadcrumb">
                        <div class="footer-note float-left">
                            <span>NEED HELP? </span>
                        </div>
                        <ol class="breadcrumb bg-none text-dark">
                            <li class="breadcrumb-item"><a href="#">Rental FAQs</a></li>
                            <li class="breadcrumb-item">
                                <a href="#">Payment & Delivery</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Refunds</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="float-right">
                        <div class="row">
                            <div class="col-12">
                                <span class="footer-note float-left">NEWS AND
                                    OFFERS: </span>
                                <form class="form-inline p-1" action="/action_page.php">
                                    <input type="email" class="font12
                                        form-control" placeholder="Enter Email
                                        Address" id="email" />

                                    <button type="submit" class="btn btn-dark">
                                        SIGN UP
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
    <div class="row bg-dark">
        <div class="col-md-2 col-sm-12"></div>
        <div class="col-md-8 col-sm-12">
            <!-- main footer list -->
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="footer-middle">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <!--Column1-->
                                <div class="footer-pad">
                                    <h4>TEXTBOOKS</h4>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#"></a>
                                        </li>
                                        <li><a href="#">Find Textbooks</a></li>
                                        <li><a href="#">Textbook Rentals</a></li>
                                        <li><a href="#">Sell Back Textbooks</a></li>
                                        <li><a href="#">News and Updates</a></li>
                                        <li><a href="#">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!--Column1-->
                                <div class="footer-pad">
                                    <h4>APPAREL</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Men's</a></li>
                                        <li><a href="#">Women's </a></li>
                                        <li><a href="#">Youth</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">FAQs</a></li>
                                        <li><a href="#">Webmaster</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <!--Column1-->
                                <div class="footer-pad">
                                    <h4>GIFTS & ACCESSORIES</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Parks and Recreation</a></li>
                                        <li><a href="#">Public Works</a></li>
                                        <li><a href="#">Police Department</a></li>
                                        <li><a href="#">Fire</a></li>
                                        <li><a href="#">Mayor and City Council</a></li>
                                        <li>
                                            <a href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-pad">
                                    <h4>SUPPLIES & ELECTRONICS</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Computer & Electronics
                                            </a></li>
                                        <li><a href="#">Dorm Essentials</a></li>
                                        <li><a href="#">Police Department</a></li>
                                        <li><a href="#">Fire</a></li>
                                        <li><a href="#">Mayor and City Council</a></li>
                                        <li>
                                            <a href="#"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-pad">
                                    <h4>SPECIAL OFFERS</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Offers </a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-pad">
                                    <h4>HOMEWORK SOLUTIONS</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Textbook Solutions </a></li>
                                        <li><a href="#">Homework Help</a></li>
                                        <li><a href="#">Writing Help </a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="footer-pad">
                                    <h4>CAREERS</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="#">Work for Us </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="row footer-contact-box">
                        <div class="col-12">
                            <span class="preheaderWelcomeMsg">Abilene Christian
                                University Official Bookstore</span>
                        </div>
                        <div class="col-12">
                            <div class="contactus">
                                <button class="btn btn-dark" type="button">CONTACT
                                    US</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-10">
                                            <p class="list-title">ABILENE
                                                CHRISTIAN UNIVERSITY</p>
                                            <div class="list-dec">
                                                <span>1812 Avenue F, ACU Box
                                                    28060 Abilene, TX 79699
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-10">
                                            <p class="list-title">STORE HOURS</p>
                                            <div class="list-dec">Mon <span>CLOSED</span></div>
                                            <div class="list-dec">Tue <span>CLOSED</span></div>
                                            <div class="list-dec">Wed <span>CLOSED</span></div>
                                            <div class="list-dec">Thu <span>CLOSED</span></div>
                                            <div class="list-dec">Fri <span>CLOSED</span></div>
                                            <div class="list-dec">Sat <span>CLOSED</span></div>
                                            <div class="list-dec">More
                                                Details&nbsp;>></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 text-center store-event">
                                    <a href="javascript:;" class=""> <span>Store
                                            Events</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  main footer list ends -->
            </div>
        </div>
        <div class="col-md-2 col-sm-12"></div>
    </div>

    <div class="row">
        <div class="col-12 copyright">
            <div class="p-1">.</div>
        </div>
    </div>
</footer>