<div class="row m-0 my-5">
  <div class="col-12 p-0 ">
    <h4 class="py-2">MORE OF WHAT YOU NEED</h4>
  </div>
  <div class="col-12 page-bg shadow-sm c-border-bottom">
    <div class="row  v-center border-bottom" *ngFor="let item of items">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="row v-center">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="row my-2 v-center">
              <div class="col-12">
                <img src="../../../assets/images/SMALLIMAGE_1227809.jpg" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-6 col-xs-12">
            <div class="row my-2  desc">
              <div class="col-12">LOGITECH M325 BLACK WIRELESS OPTICAL LASER MOUSE WITH USB RECEIVER</div>
              <div class="col-12">$34.98</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 my-2">
        <button class="btn btn-dark c-btn-dark px-5">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>