<div>
  <div class="row bg-dark text-white">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12">
      <div class="row fontSM">
        <div class="col-md-8 col-sm-6 col-xs-12">

          <ul class="list-group list-group-horizontal ml-auto">
            <li class="list-group-item bg-dark">
              Abilene Christian University Official Bookstore
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-12">
              <ul class="list-group list-group-horizontal
                justify-content-end">
                <li class="list-group-item bg-dark">Login/Sign up</li>
                <li class="list-group-item bg-dark">Faculity Resources</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-12"></div>
  </div>

  <div class="row midHeader">
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <a [routerLink]="['home']">
                <img src="../../../assets/images/logo.jpg" class="img-fluid" /></a>
            </div>
          </div>
        </div>
        <div class="col-4 text-right">
          <div class="row">
            <div class="col-12">
              <div class="btn-group-vertical">
                <button type="button" [routerLink]="['cart']" class="btn btn-transparent text-white" title="Checkout">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                  <span class="fontSM"> CART</span>
                </button>
                <button type="button" class="btn btn-sm btn-dark bg-dark">
                  <span class="fontSM"> 0 ITEMS </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-12"></div>
  </div>

  <div class="row bg-light border-bottom">
    <!-- nav bar start  -->
    <div class="col-md-2 col-sm-12"></div>
    <div class="col-md-8 col-sm-12">
      <nav class="navbar navbar-expand-sm p-0">
        <a class="navbar-brand" href="#">
          <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div id="cssmenu">
              <ul>
                <li class="has-sub">
                  <a href="#"><span>TEXTBOOKS</span></a>
                  <ul>
                    <li>
                      <a href="#"><span>Product 1</span></a>
                    </li>
                    <li>
                      <a href="#"><span>Product 2</span></a>
                    </li>
                  </ul>
                </li>
                <li class="has-sub megamenu1">
                  <a href="#"><span>APPAREL</span></a>
                </li>
                <li class="last">
                  <a href="#"><span>GIFT & ACCESSORIES</span></a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

        <form class="form-inline" action="/action_page.php">
          <div class="input-group header-search-box">
            <input type="text" class="form-control" placeholder="Enter your search details" />
            <div class="input-group-append">
              <span class="input-group-text border-left-0">
                <i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          </div>
        </form>
      </nav>
    </div>
    <div class="col-md-2 col-sm-12"></div>
    <!-- navbar ends -->
  </div>

  <div class="megamenu1-box">
    <div class="row">
      <div class="col-md-2 col-sm-12"></div>
      <div class="col-md-8 col-sm-12">
        <div class="px-3">
          <div class="row bg-white border-0 theam-shadow">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
              <div class="row">
                <div class="col-12 megamenu-heading">
                  <span> MEN's</span>
                </div>
                <div class="col-12 megamenu-list">
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
              <div class="row">
                <div class="col-12 megamenu-heading">
                  <span> Heading</span>
                </div>
                <div class="col-12 megamenu-list">
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
              <div class="row">
                <div class="col-12 megamenu-heading">
                  <span> Heading</span>
                </div>
                <div class="col-12 megamenu-list">
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
              <div class="row">
                <div class="col-12 megamenu-heading">
                  <span> Heading</span>
                </div>
                <div class="col-12 megamenu-list">
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                  <div>
                    <a herf="javascript">list data</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12"></div>
    </div>
  </div>
</div>