

<div class="row">
    <div class="col-12">
        <ul class="breadcrumb1">
            <li><a href="#">ALL APPAREL</a></li>
            <li><a href="#">MAN'S</a></li>
            <li><a href="#">SHIRTS</a></li>
        </ul>
    </div>
</div>
<div class="row product-detail">
    <div class="col-md-6">
        <div class="row">
            <div class="col-12 pro-lg-img">
                <img [src]="imageToView"
                    alt="" class="img-rluid" />

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-12 pro-heading pb-3">
                <h2>NIKE DRI FIT TRAINING QUARTER ZIP</h2>
                <span>$64.98</span>
            </div>
            <div class="col-12 pro-text pb-3">
                <div>
                    Long sleeve, quarter zip top with mesh inserts on
                    lower sleeve panels. Dri FIT knit fabric wicks away
                    sweat and helps keep you dry and comfortable. Swoosh
                    design trademark on right chest. Dri FIT trademark
                    on lower right hem. Imported
                </div>
            </div>
            <div class="col-12 pro-sm-img">
                <div class="pro-subheading">SELECT A STYLE</div>
                <div class="row">
                    <div class="col-2 pr-0">
                        <a href="javascript:;"><img class="img-fluid"
                                src="../../../assets/images/LARGEIMAGE_1852159.jpg"
                                (click)="imageView($event)" /></a>
                    </div>
                    <div class="col-2 pr-0">
                        <a href="javascript:;"> <img class="img-fluid"
                                src="../../../assets/images/LARGEIMAGE_1806686.jpg"
                                (click)="imageView($event)" /></a>
                    </div>
                </div>
            </div>

            <div class="col-12 pro-size">
                <div class="pro-subheading">SELECT A SIZE</div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-light">SMALL</button>
                        <button class="btn btn-light">MEDIUM</button>
                    </div>
                </div>
            </div>

            <div class="col-12 pro-submit my-2">
                <div class="d-flex">
                    <input value="1" class="mr-2" type="text" />
                    <button type="submit" class="btn btn-dark mr-2">
                        ADD TO CART
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
