<div class="row my-5 cart-order-box shadow-sm">

  <div class="col-12 py-2">
    <div class="row">
      <div class="col-12 mt-2">
        <button type="button" class="btn btn-dark btn-block c-btn-dark">CHECKOUT</button>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-none btn-block c-btn-dark">ORDER
          SUMMERY</button>
      </div>
      <div class="col-12">
        <div class="row py-3 m-0 bg-white shadow-sm">
          <div class="col-12 border-bottom py-2">
            <ul class="list-unstyled m-0">
              <li class="d-flex justify-content-between order-text"><strong class="text-muted">2
                  APPAREL</strong><strong>$0.00</strong>
              </li>
              <hr class="clearfix minLine order-text">
              <li class="d-flex justify-content-between order-text"><strong class="text-muted">2
                  APPAREL</strong><strong>$0.00</strong>
              </li>
              <hr class="clearfix minLine">
            </ul>
          </div>
          <div class="col-12 border-bottom py-2">
            <ul class="list-unstyled m-0">
              <li class="d-flex justify-content-between order-text"><strong
                  class="text-muted">SUBTOTAL</strong><strong>$0.00</strong>
              </li>

              <li class="d-flex justify-content-between order-text"><strong
                  class="text-muted">DISCOUNT</strong><strong>$0.00</strong>
              </li>

            </ul>
          </div>
          <div class="col-12 border-bottom py-2">
            <div class="input-group promocode p-2">
              <input type="text" class="form-control" placeholder="Enter Promo
                code">
              <div class="input-group-append">
                <span class="input-group-text bg-dark text-white">APPLY</span>
              </div>
            </div>
          </div>
          <div class="col-12 border-bottom py-2">
            <ul class="list-unstyled m-0">
              <li class="d-flex justify-content-between order-text"><strong class="text-muted">EST
                  TOTAL</strong><strong>$0.00</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 my-3">
        <button type="button" class="btn btn-dark btn-block c-btn-dark">CHECKOUT</button>
      </div>
    </div>
  </div>

</div>