<div class="row my-3">
  <div class="col-12">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 adbox text-center inline-grid my-1" *ngFor="let item of items">
        <div class="row dj border bg-white" [routerLink]="['/product']">
          <div class="col-12">
            <img [src]="item.image" [title]="item.img_title" class="img-fluid adImage" />
          </div>

          <div class="adtext">
            <div class="col-12 text-heading">
              <span>{{ item.heading | uppercase }}</span>
            </div>
            <div class="col-12 shop-link">
              <a href=""><span> {{ item.method | uppercase }} </span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>